.card_container {
  width: 485px;
  height: 290px;
  perspective: 5000px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  overflow: hidden;
  border-radius: calc(var(--brd-radius) * 2.25);
}

.turn_card .card_container {
  transform: rotate3d(1, 0, 0, 180deg);
}

.turn_card .card_container .card_front {
  transform: rotateX(-180deg);
  opacity: 0;
}

.turn_card .card_container .card_back {
  transform: rotateX(0deg);
  opacity: 1;
}

.card_front,
.card_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: calc(var(--brd-radius) * 2.25);
  transition: all 0.6s;
  background: var(--bck-3);
  background: var(--lg-1);
  background: linear-gradient(to right, #780206, #061161);

  color: white;
  font-size: 3rem;
}

.card_front {
  background: var(--bck-3);
  background: var(--lg-1);
  background: linear-gradient(to right, #780206, #061161);
  /* background-color: #1dba68; */
  padding: 1rem;
}

.card_back {
  opacity: 0;
}

.card_back_content {
  text-align: center;
  font-size: 1.5rem;
  transform: rotateX(180deg);
  bottom: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.card_front_header {
  height: 53%;
  width: 100%;
}

.card_number {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.number-input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #ecf0f1;
  font-size: 2.7rem;
  width: 2rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
  height: 3rem;
  border-radius: calc(var(--brd-radius) * 0.5);
  overflow: hidden;
  caret-color: transparent;
}

.number-input:focus {
  outline: none;
  background-color: #ecf0f1;
  color: #2c3e50;
  animation: input-bck-breating 1.5s ease-in-out infinite;
}

.number-input::selection {
  background: transparent;
}

.card_validity {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  transform: translateX(4px);
}

.card_validity_label {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}

.validity_input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  transform: translateY(-2px);
}

.validity_input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #ecf0f1;
  font-size: 2.2rem;
  width: 3.4rem;
  height: 2.7rem;
  padding: 0;
  margin: 0;
  line-height: 1;
  text-align: center;
  border-radius: calc(var(--brd-radius) * 0.5);
  overflow: hidden;
  caret-color: transparent;
}

.validity_input:focus {
  outline: none;
  background-color: #ecf0f1;
  color: #2c3e50;
  animation: input-bck-breating 1.5s ease-in-out infinite;
}

.validity_input::selection {
  background: transparent;
}

.card_name_input {
  margin-top: 1rem;
  padding: 0.3rem;
  padding-left: 0.4rem;
  display: flex;
  align-items: center;
  width: 80%;
  height: auto;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  border-radius: calc(var(--brd-radius) * 0.5);
}

.card_name_input:focus {
  outline: none;
  background-color: #ecf0f1;
  color: #2c3e50;
  animation: input-bck-breating 1.5s ease-in-out infinite;
}

.zest-logo {
  width: 15rem;
  height: auto;
  object-fit: contain;
  margin-left: -1rem;
  margin-top: 1rem;
}

.card_back_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card_back_mag_strip {
  width: 100%;
  height: 5rem;
  background-color: black;
  margin-top: 4rem;
}

.cvv_strip_container {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.cvv_strip {
  width: 60%;
  height: 3rem;
  background-color: #1d1151;
}

.input_card_cvv {
  outline: none;
  margin-left: .5rem;
  background-color: transparent;
  font-size: 2.4rem;
  width: 5rem;
  font-family: monospace;
  text-align: center;
  caret-color: transparent;
  color: white;
}

.input_card_cvv:focus {
  outline: none;
  background-color: #ecf0f1;
  color: #2c3e50;
  animation: input-bck-breating 1.5s ease-in-out infinite;
}

.card_back_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
  flex: 1;
}

.card_back_details {}

.card_holo_gram_img {
  width: 10rem;
  height: 4rem;
  align-self: flex-end;
  object-fit: contain;
}

.card_turn_button {
  border: none;
  padding: 1rem 3rem;
  margin-top: 2rem;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  background-color: #1d1151;
  color: white;
  border-radius: var(--brd-radius);
  font-family: monospace;
}